@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    --main-bg-color: blue;
}

* {

    margin: 0;
    padding: 0;
}

nav {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 88px;
    padding: 0 25px;
}
.container{
    min-height:calc(100vh - 58px - 12vh);
}

footer {
    height: 12vh;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Lato', sans-serif;
}

header {

    background-color: var(--main-bg-color);
    font-family: 'Lato', sans-serif;
}
.search{
    display: flex;
    align-items: center;

}
.search button{
    font-family:'Lato', sans-serif;
    font-weight: 900;
}
.search input{
    width: 493px;
    height: 23px;
    border-radius: 6px;
    margin: 0 16px 0 56px;
    padding:0 12px ;

}
.slider{
    margin: 12px auto;
    width: 80vw;
}
.card{
    max-width: 90vw;
    margin: auto;
}

nav ul li {
    list-style: none;
    padding: 0 23px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
nav ul li a:hover {
    color: white;
   font-weight: bold;
}


nav ul {
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}